.aplicarBarra
{
    -fx-background-image: url('../visao/img/Barra.png');
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
}

.capaPrincipal
{

-fx-background-image: url('../visao/img/Principal.png');
-fx-background-position: center;
-fx-background-repeat: no-repeat;
-fx-background-attachment: fixed;

}

.criarCaixa
{
-fx-background-color: rgba(240,240,240,0.8);
-fx-background-repeat: no-repeat;
-fx-size: 35;

}

.button
{
  -fx-background-color: rgb(175, 175, 175);
  -fx-padding: 11px;
  -fx-text-fill: white;
  -fx-border-color: white;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.button:hover
{
  -fx-background-color: rgb(140, 170, 165);
  -fx-padding: 12px;
 
}
