.aplicarBarra
{
    -fx-background-image: url('../visao/img/Barra.png');
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
}

.capaPrincipal
{

-fx-background-image: url('../visao/img/Principal.png');
-fx-background-position: center;
-fx-background-repeat: no-repeat;
-fx-background-attachment: fixed;

}

.criarCaixa
{
-fx-background-color: rgba(240,240,240,0.8);
-fx-background-repeat: no-repeat;
-fx-size: 35;

}

.button
{
  -fx-background-color: rgba(225, 225, 225, 0.001);
  -fx-padding: 11px;
  -fx-text-fill: white;
  -fx-border-color: rgba(225, 225, 225, 0.001);
}

.button:hover
{
  -fx-background-color: rgb(140, 170, 165);
  -fx-padding: 12px;
}
